body {
  background: url("./assets/background.jpg");
  font-family: system-ui, sans-serif;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fefefe;
}
li {
  list-style: none;
}
