@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f0eeec;
  color: #222222;
  font-family: "Inter", sans-serif;
}

.dark-mode {
  background: #222222;
  color: #f0eeec;
}
